<!DOCTYPE HTML>
<html>
<head>
    <title>Joy</title>
    <meta charset="utf-8">
    <meta name="description" content="Página de ejemplo de uso de Joystick puro en JavaScript">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesjoy.css">
    <script src="../static/js/joy.min.js"></script>
    
</head>
<body>
	    <!-- Recuadro para el video -->
		<div class="cont_video">
			<img class="video" width="560" height="315" src="{{ url_for('video_feed') }}" width="50%"
			allowfullscreen></img>
		</div>
	
    <!-- Primer joystick -->
    <div id="joyDiv" style="width:200px;height:200px;margin:20px;position:fixed;bottom:2px;left:50px;"></div>
    <div class="input-container" style="position:fixed;bottom:30px;left:290px;">
        <label for="joyPosicionX">Posición X:</label>
        <input id="joyPosicionX" type="text" /><br />
        <label for="joyPosicionY">Posición Y:</label>
        <input id="joyPosicionY" type="text" /><br />
        <label for="joyDireccione">Dirección:</label>
        <input id="joyDireccione" type="text" /><br />
        <label for="joyX">X :</label>
        <input id="joyX" type="text" /><br />
        <label for="joyY">Y :</label>
        <input id="joyY" type="text" />
    </div>
	
	<div class="button-container">
		<button class="button">Botón 1</button><br />
		<button class="button">Botón 2</button>
	</div>

    <!-- Segundo joystick -->
    <div id="joy2Div" style="width:200px;height:200px;margin:20px;position:fixed;bottom:2px;left:1090px;"></div>
    <div class="input-container" style="position:fixed;bottom:30px;left:800px;">
        <label for="joy2PosicionX">Posición X:</label>
        <input id="joy2PosicionX" type="text" /><br />
        <label for="joy2PosicionY">Posición Y:</label>
        <input id="joy2PosicionY" type="text" /><br />
        <label for="joy2Direccione">Dirección:</label>
        <input id="joy2Direccione" type="text" /><br />
        <label for="joy2X">X :</label>
        <input id="joy2X" type="text" /><br />
        <label for="joy2Y">Y :</label>
        <input id="joy2Y" type="text" />
    </div>

    <script type="text/javascript">
        var joyDiv = document.getElementById("joyDiv");
        var joyIinputPosX = document.getElementById("joyPosicionX");
        var joyInputPosY = document.getElementById("joyPosicionY");
        var joyDireccione = document.getElementById("joyDireccione");
        var joyX = document.getElementById("joyX");
        var joyY = document.getElementById("joyY");

        // Crear objeto JoyStick dentro del DIV 'joyDiv'
        var Joy = new JoyStick('joyDiv', {}, function(stickData) {
            joyIinputPosX.value = stickData.xPosition;
            joyInputPosY.value = stickData.yPosition;
            joyDireccione.value = stickData.cardinalDirection;
            joyX.value = stickData.x;
            joyY.value = stickData.y;
        });

        var joy2Div = document.getElementById("joy2Div");
        var joy2IinputPosX = document.getElementById("joy2PosicionX");
        var joy2InputPosY = document.getElementById("joy2PosicionY");
        var joy2Direccione = document.getElementById("joy2Direccione");
        var joy2X = document.getElementById("joy2X");
        var joy2Y = document.getElementById("joy2Y");

        // Crear objeto JoyStick dentro del DIV 'joy2Div'
        var Joy2 = new JoyStick('joy2Div', {}, function(stickData) {
            joy2IinputPosX.value = stickData.xPosition;
            joy2InputPosY.value = stickData.yPosition;
            joy2Direccione.value = stickData.cardinalDirection;
            joy2X.value = stickData.x;
            joy2Y.value = stickData.y;
        });
    </script>
</body>
</html>
